.App {
  text-align: center;
}




.NavBar{
  background-color: rgb(0, 162, 255);
  padding-top: 20px;  
  background-image: url("./media/cuisebart3.png");
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.NavBarTitulos{
  padding-left: 20px;
}

.Buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}